*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}
html{
    background: #f3f5fc;

}
.body{
    font-family: 'Inter', sans-serif;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .body{

        height: 100%;
    }
    
}
