footer{
    text-align: center;
    height: 4rem;
}
footer p{
    font-weight: bold;

}
@media screen and (max-width: 768px) {
    footer{
        background: white;
        padding: 1rem;
        width: 100%;
        margin: auto;
        height: 5rem;
    }
    footer p{
        font-size: 12px;
        word-wrap: break-word;
        word-break: break-all;
    }

    

}